<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" 
	  >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title th:fragment = "title">SGCU - Bem vindo!</title>
    
    <!-- Dependências do Gentelella  -->
    
    <!-- Bootstrap -->
    <link 	href="@{../static/vendors_gentelella/bootstrap/dist/css/bootstrap.min.css}"
    	  	th:href="@{/vendors_gentelella/bootstrap/dist/css/bootstrap.min.css}" 
    	  	rel="stylesheet" 
    		media="screen" />
    <!-- Font Awesome -->
    <link 	href="../static/vendors_gentelella/font-awesome/css/font-awesome.min.css"
    		th:href="@{/vendors_gentelella/font-awesome/css/font-awesome.min.css}"
    		rel="stylesheet" 
    		media="screen" />

    <!-- FullCalendar -->
    <link 	href="../static/vendors_gentelella/fullcalendar/dist/fullcalendar.min.css" 
    		th:href="@{/vendors_gentelella/fullcalendar/dist/fullcalendar.min.css}"
    		rel="stylesheet"
    		media="screen" />
    <link 	href="../static/vendors_gentelella/fullcalendar/dist/fullcalendar.print.css" 
		    th:href="@{/vendors_gentelella/fullcalendar/dist/fullcalendar.print.css}" 
    		rel="stylesheet" 
    		media="print" />
    		
	<!-- iCheck -->
    <link 	href="../static/vendors_gentelella/iCheck/skins/flat/green.css" 
    		th:href="@{/vendors_gentelella/iCheck/skins/flat/green.css}"
    		rel="stylesheet"
    		media="screen" />
    <!-- bootstrap-wysiwyg -->
    <link 	href="../static/vendors_gentelella/google-code-prettify/bin/prettify.min.css"
    		th:href="@{/vendors_gentelella/google-code-prettify/bin/prettify.min.css}"  
    		rel="stylesheet"
    		media="screen" />
    <!-- Select2 -->
    <link 	href="../static/vendors_gentelella/select2/dist/css/select2.min.css"
    		th:href="@{/vendors_gentelella/select2/dist/css/select2.min.css}"  
    		rel="stylesheet"
    		media="screen" />
    <!-- Switchery -->
    <link 	href="../static/vendors_gentelella/switchery/dist/switchery.min.css" 
    		th:href="@{/vendors_gentelella/switchery/dist/switchery.min.css}"
    		rel="stylesheet"
    		media="screen" />
    <!-- starrr -->
    <link 	href="../static/vendors_gentelella/starrr/dist/starrr.css" 
    		th:href="@{/vendors_gentelella/starrr/dist/starrr.css}"
    		rel="stylesheet"
    		media="screen" />
    <!-- Custom styling plus plugins -->
    <link 	href="../static/build_gentelella/css/custom.css" 
    		th:href="@{/build_gentelella/css/custom.css}"
    		rel="stylesheet"
    		media="screen" />
    
    <!-- CSS SGCU  -->
    <link 	href="../static/css/core.css" 
    		th:href="@{/css/core.css}" 
    		rel="stylesheet" 
    		media="screen" />
    
</head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a th:href="@{/}" class="site_title"><i class="fa fa-medkit"></i> <span>SGCU</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img th:src="@{/images/img.png}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bem vindo!,</span>
                <h2>Administrador</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>ADM</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Início <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/}">Agenda</a></li>
                      <li><a th:href="@{/cronogramas}">Cronogramas</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/alunos}">Alunos</a></li>
                      <li><a th:href="@{/pacientes}">Pacientes</a></li>
                      <li><a th:href="@{/professores}">Professores</a></li>
                      <li><a th:href="@{/cursos}">Cursos</a></li>
                      <li><a th:href="@{/disciplinas}">Disciplinas</a></li>
                      <li><a th:href="@{/turmas}">Turmas</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="chartjs.html">Alunos</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-cogs"></i>Configurações </a>
                  </li>
                  <li><a><i class="fa fa-bug"></i> Suporte </a>
                  </li>	
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Configurações">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Tela inteira">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Travar">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="/images/img.png" alt="">Admin
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Início</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Configurações</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">suporte</a></li>
                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
                  </ul>
                </li>
               </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" >
			<div class="" layout:fragment="content">
			<!-- Conteúdo da pagina  -->
			</div>        
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Sistema para Gerenciamento das Clínicas da UNIME <a href="www.gitlab.com/bsi-unime/sgcu">SGCU</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>
        
    <!-- jQuery -->
    <script th:src="@{/vendors_gentelella/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/vendors_gentelella/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/vendors_gentelella/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/vendors_gentelella/nprogress/nprogress.js}"></script>
    <!-- FullCalendar -->
    <script th:src="@{/vendors_gentelella/moment/min/moment.min.js}"></script>
    <script th:src="@{/vendors_gentelella/fullcalendar/dist/fullcalendar.min.js}"></script>
    <script th:src="@{/vendors_gentelella/fullcalendar/dist/lang/pt-br.js}"></script>
    
    <!-- bootstrap-daterangepicker -->
    <script th:src="@{/js/moment/moment.min.js}"></script>
    <script th:src="@{/js/datepicker/daterangepicker.js}"></script>
    <!-- bootstrap-wysiwyg -->
    <script th:src="@{/vendors_gentelella/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js}"></script>
    <script th:src="@{/vendors_gentelella/jquery.hotkeys/jquery.hotkeys.js}"></script>
    <script th:src="@{/vendors_gentelella/google-code-prettify/src/prettify.js}"></script>
    <!-- jQuery Tags Input -->
    <script th:src="@{/vendors_gentelella/jquery.tagsinput/src/jquery.tagsinput.js}"></script>
    <!-- Switchery -->
    <script th:src="@{/vendors_gentelella/switchery/dist/switchery.min.js}"></script>
    <!-- Select2 -->
    <script th:src="@{/vendors_gentelella/select2/dist/js/select2.full.min.js}"></script>
    <!-- Parsley -->
    <script th:src="@{/vendors_gentelella/parsleyjs/dist/parsley.min.js}"></script>
    <!-- Autosize -->
    <script th:src="@{/vendors_gentelella/autosize/dist/autosize.min.js}"></script>
    <!-- jQuery autocomplete -->
    <script th:src="@{/vendors_gentelella/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
    <!-- starrr -->
    <script th:src="@{/vendors_gentelella/starrr/dist/starrr.js}"></script>
    
    <!-- Custom Theme Scripts -->
    <script th:src="@{/build_gentelella/js/custom.min.js}"></script>
    <!-- App do calendário da página de agendamentos -->
    <script th:src="@{/scripts/appCalendario.js}"></script>
    <!-- Date picker -->
    <script th:src="@{/scripts/datepicker.js}"></script>
  </body>
</html>