<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/layoutBase">
<head>
    <title th:fragment = "title">Lista de Cursos</title>
</head>
<body>
	<th:block layout:fragment="content">
	
	<div class="page-title">
       
       <div class="title_left">
         <h3>Cursos</h3>
       </div>
		
		<!-- Filtro -->
       <div class="title_right">
         <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
           <div class="input-group">
             <input type="text" class="form-control" placeholder="Filtro">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button">Ir!</button>
             </span>
           </div>
         </div>
       </div>
       
     </div>
     
     <div class="clearfix"></div>
     
     <div class="row">
     
	     <div class="col-md-12 col-sm-12 col-xs-12">
	       <div class="x_panel">
	         <div class="x_title">	        
	         <a href="#" class="btn btn-success btn-xs" th:href="@{/cursos/novo}"><i class="fa fa-plus"></i> Incluir </a>	         
	           <div class="clearfix"></div>
	         </div>
	         <div class="x_content">
	
	           <table class="table table-striped">
	             <thead>
	               <tr>
	                 <th>Nome</th>
	               </tr>
	             </thead>
	             <tbody>
	               <tr th:each="curso : ${cursos}">
	                 <th scope="row" th:text="${curso.nome}"></th>
	                 <td>
	                 	<a th:href="@{/cursos/ver/{id}(id=${curso.id})}" class="btn btn-info btn-xs"><i class="fa fa-folder"></i> Ver </a>
                        <a th:href="@{/cursos/editar/{id}(id=${curso.id})}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Editar </a>
                     </td>
	               </tr>
	             </tbody>
	           </table>
	
	         </div>
	       </div>
	     </div>

     	<div class="clearfix"></div>
     </div>
	</th:block>
</body>
</html>