<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layoutBase">
<head>
    <title th:fragment="title">SGCU - Editar Disciplina</title>
</head>
<body>
<th:block layout:fragment="content">
<div class="clearfix"></div>
            
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Cadastrar Disciplina</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form 	id="edit-disciplina" 
                    		data-parsley-validate 
                    		class="form-horizontal form-label-left" 
                    		th:object="${disciplina}" 
                    		th:action="@{/disciplinas}"
                    		method="POST">
                      <div class="form-group">
                      	<input 	type="hidden" 
                      			id="id" 
                      			th:field="*{id}">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Nome <span >*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input 	type="text" 
                          			id="nome_disciplina" 
                          			th:readonly="${readonly}"
                          			class="form-control col-md-7 col-xs-12" 
                          			th:field="*{nome}">
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                         <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <a th:href="@{/disciplinas}" class="btn btn-primary">Cancelar</a>
                          <button   type="submit"
                          			th:disabled="${readonly} == 'readonly'" 
                          			class="btn btn-success">Salvar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>	

</th:block>
</body>
</html>