<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/layoutBase">
<head>
    <title th:fragment="title">SGCU - Editar Curso</title>
</head>
<body>
<th:block layout:fragment="content">
<div class="clearfix"></div>
            
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Cadastrar Turma</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form 	id="edit-turma" 
                    		data-parsley-validate 
                    		class="form-horizontal form-label-left" 
                    		th:object="${turma}" 
                    		th:action="@{/turmas}"
                    		method="POST">
                      <div class="form-group">
                      	<input 	type="hidden" 
                      			id="id" 
                      			th:field="*{id}">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Semestre Letivo <span >*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" th:field="*{semestreLetivo}" th:readonly="${readonly}">
                            <option th:each="sm : ${semestres}"
                            		th:value="${sm}"
                            		th:readonly="${readonly}"
                            		th:text="${sm}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Turno <span >*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" th:field="*{turno}" th:readonly="${readonly}">
                            <option th:each="tn : ${turnos}"
                            		th:value="${tn}"
                            		th:readonly="${readonly}"
                            		th:text="${tn}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Descrição <span ></span>
                        </label>
                       <div class="col-md-6 col-sm-6 col-xs-12">
                         <input 	type="text" id="descricao" 
                         			th:readonly="${readonly}"
                         			class="form-control col-md-7 col-xs-12" 
                         			th:field="*{descricao}">
                       </div>
                       </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Dias da Semana <span >*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
	                        
	                        <span th:each="dia : ${dias_semana}"><input type="checkbox"
							th:field="*{diasSemana}" th:value="${dia}" name="dia_semana" class="flat"/> 
							<label
							th:for="${#ids.prev('diasSemana')}" 
							th:text="${dia}"
							>
<!-- 							th:checked="*{dia} == ${dia}" -->
							</label>
							</span>
                       </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Disciplinas <span >*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
	                        
	                        <span th:each="disciplina : ${disciplinas}">
	                        
	                        <input 	type="checkbox"
									th:field="*{disciplinas_turma}" 
									th:value="${disciplina}" 
									name="disciplinas" 
									class="flat"/>
									
							<label
							th:for="${#ids.prev('disciplinas_turma')}" 
							th:text="${disciplina.nome}"
							>
<!-- 							th:checked="*{dia} == ${dia}" -->
							</label>
							<!-- <input type="hidden"
							th:field="*{disciplinas_turma.id}" th:value="${disciplina.id}" name="id" class="flat"/> --> 
							</span>
                       </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                         <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <a th:href="@{/turmas}" class="btn btn-primary">Cancelar</a>
                          <button   type="submit"
                          			th:disabled="${readonly} == 'readonly'" 
                          			class="btn btn-success">Salvar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>	

</th:block>
</body>
</html>